@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

.banner-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.banner {
  position: fixed;
  width: 100%;
  top: 0;
  padding-top: 11px;
  padding-bottom: 11px;
  border-bottom-style: solid;
  border-bottom-color: #e3e3e6;
  border-bottom-width: 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 9999;
}

.banner-icon {
  height: 45px;
}

.banner-groupper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 80px;
}

.banner-line {
  height: 32px;
  border-left: 1px solid black;
  margin-left: 20px;
  margin-right: 20px;
}

.banner-title {
  font-family: 'Pacifico', cursive;
  font-size: 28px;
  color: black;
}

.banner-menu {
  flex-direction: row;
  display: flex;
  margin-right: 80px;
}

.banner-menu-item {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 17px;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
}
